job "prometheus" {
  datacenters = ["dc1"]
  type = "service"
  
  group "prometheus" {
  
    task "prometheus" {
      driver = "docker"

      config {
        image = "prom/prometheus"
		force_pull = true
		port_map = {
		  prometheus_web = 9090
		} 
		logging {
		  type = "journald"
		  config {
		    tag = "PROMETHEUS"
		 }
		}	
      }
	  
	  service {
	    name = "prometheus"
	    port = "prometheus_web"
	  } 

      resources {
        network {
          port "prometheus_web" {
            static = "9090"
          }
        }
      }
    }
  }
}